<!DOCTYPE html>
<body>

<div class="main-header">
    <label class="basic-text" style="padding-left: 25pt">Channels</label>
</div>

    <%if(channels.length > 0) {

    for(let i = 0; i < channels.length; ++i){%>

    <button class="channel-card highlight" id="<%=channels[i].id%>" onclick="openChannel('<%=channels[i].id%>')">

        <div style="display: flex; flex-direction: row; align-items: center;
                    justify-content: flex-start; width: 100%; padding-left: 25pt">

            <%if(channels[i].icon == null) {%>
                <div class="avatar-frame basic-text" style="display: flex; align-items: center; justify-content: center">
                    <i class="fa-solid fa-users fa-xl"></i>
                </div>


            <div style="display: flex; flex-direction: column; padding-left: 10pt">
                <label class="basic-text"><%=channels[i].name%></label>
            </div>


            <%}
            else {%>

                <img class="avatar-frame" src="assets/images/avatars/<%=channels[i].icon%>"/>

                <div style="display: flex; flex-direction: column; padding-left: 10pt">

                    <label class="basic-text"><%=channels[i].name%></label>

                    <div class="left-flex" style="flex-direction: row; align-items: center; gap:0">

                        <%if(channels[i].status) {%>
                            <span class="dot" style="background-color: var(--success-color)"></span>
                            <label class="basic-text" style="font-size: 8pt; padding-left: 3pt">Online</label>
                        <%}
                        else {%>
                            <span class="dot" style="background-color: var(--error-color)"></span>
                            <label class="basic-text" style="font-size: 8pt; padding-left: 3pt">Offline</label>
                        <%}%>

                    </div>

                </div>
            <%}%>


        </div>

    </button>

    <%}
    }
    else{%>

        <div class="group-card">

            <div style="display: flex; flex-direction: row; align-items: center;
                justify-content: center; width: 100%;">

                <label class="secondary-text">No conversations yet.</label>

            </div>

        </div>

    <%}%>

</body>