<!DOCTYPE html>

<body>

<%if(messages.length > 0) {%>

<%for(let i = messages.length - 1; i >= 0; --i) {

if(messages[i].sender() === username){ %>

<div class="bubble-wrapper" style="justify-content: flex-end">

    <div class="self-bubble">

        <div class="bubble-info">
            <label class="secondary-text"><%=messages[i].sender()%></label>
            <label class="secondary-text"><%=messages[i].dateString()%></label>
        </div>

        <label class="basic-text bubble-message"><%=messages[i].content()%></label>

    </div>

    <img class="avatar-frame" style="padding-right: 10pt"  src="/assets/images/avatars/avatar-1.png"/>

</div>
<%}
else{%>

<div class="bubble-wrapper" style="justify-content: flex-start">

    <img class="avatar-frame" style="padding-left: 10pt"  src="/assets/images/avatars/avatar-1.png"/>

    <div class="other-bubble">

        <div class="bubble-info">
            <label class="secondary-text" style="color: white"><%=messages[i].sender()%></label>
            <label class="secondary-text" style="color: white"><%=messages[i].dateString()%></label>
        </div>

        <label class="basic-text bubble-message"><%=messages[i].content()%></label>

    </div>

</div>
<%}

}}
else {%>

    <div class="fields-div center-flex" style="padding: 10pt; height: 100%">

        <div class="info-div secondary-text">
            <i class="fa-solid fa-comments fa-10x"></i>
        </div>

        <label style="font-size: 50px; padding: 0;" class="secondary-text">Chat</label>

        <div style="flex-direction: row">
            <label style="font-size: 25px; padding: 0;" class="secondary-text">Start a conversation with your friends!</label>
        </div>

    </div>

<%}%>

</body>